* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.head {
	font-family: 'Montserrat', sans-serif !important;
}
:root {
	--color1: #70bcbc;
	--color2: #67aa8d;
	--sub-head: rgba(103, 170, 141, 0.85);
	--color3: #0a0a0a;
	--foteer-bg-color: var(--menu-bgcolor);
	--footer-text-color: black;
	--facebook-color: #4267b2;
	--facebook-bg-color: white;
	--insta-color: #f56040;
	--menu-bgcolor: #888c8f;
	--menu-color: #f3f7f9;
	--submenu-bg-color: #4a5150;
	--submenu-text-color: var(--color2);
	--mobile-menu-height: 70px;
	--footer-heading-color: white;
	--head-color: #6c7173;
	--text-color: #b4adae;
	--nav-icon-open-Y-amount: 14px;
	--nav-icon-open-bgcolor: #f58634;
	--copyright-bar-bg-color: #549384;
	--copyright-bar-text-color: white;
}
nav ul#menu,
ul#menu ul {
	list-style: none;
}

#navigation {
	z-index: 2;
	padding-top: calc(var(--mobile-menu-height));
	opacity: 1;
	top: 0;
	overflow-y: scroll;
	right: 0;
	background-color: var(--menu-bgcolor);
	box-shadow: -5px 0px 4px 4px rgba(0, 0, 0, 0.23);
}
#nav-icon1.open {
	transform: translate(-59px, -29px);
	z-index: 3;
	position: fixed;
}
#navigation {
	display: flex;
	height: 100%;
	opacity: 0;
	width: 0%;
	transition: width 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	position: fixed;
}
#nav-icon1 {
	width: 6vw;
	height: 4vh;
	position: relative;
	margin: 6px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	z-index: 2;
	padding: 15px;
	float: right;
}

#nav-icon1 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		opacity 0.55s ease;
}

#nav-icon1 span:nth-child(1) {
	top: 0px;
}

#nav-icon1 span:nth-child(2) {
	top: 10px;
}

#nav-icon1 span:nth-child(3) {
	top: 20px;
}
nav ul#menu li > span {
	position: relative;
}
nav a.tel::after {
	position: absolute;
	bottom: -12px;
	left: 10px;
	content: attr(data-contact);
	font-size: 1em;
	width: 100%;
	text-decoration: underline;
	content: attr(data-contact);
	font-size: 0.6em;
}
#nav-icon1.open span:nth-child(1) {
	top: 10px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	height: 8px;
	background-color: var(--nav-icon-open-bgcolor);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
}

#nav-icon1.open span:nth-child(3) {
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);

	background-color: var(--nav-icon-open-bgcolor);
}
#nav-icon1.open ~ #navigation {
	width: 62%;
	display: block !important;
	opacity: 1;
}

nav ul#menu {
	width: 100%;
	overflow-y: scroll;
	height: auto;
	overflow: hidden;
	overflow-y: scroll;
	height: 100%;
}
nav ul#menu li {
	width: 100%;
	box-sizing: border-box;
	color: var(--menu-color);
	padding: 0;

	height: max-content;
}
nav li[data-level='0'] {
	padding: 0px 23px;
}
nav ul#menu li > span {
	width: 100%;
	display: inline-block;
	height: 100%;
}
nav ul#menu li > span > a {
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--menu-color);
	word-break: break-word;
}
nav ul#menu li > span > a > span {
	display: inline-block;
	padding: 4px;
	width: 20%;
	text-align: end;
}
nav li[data-level='0'] {
	font-size: 0.79rem;
}
nav li.parent {
	position: relative;
}
nav li.parent > ul#child {
	display: block;
	background: var(--submenu-bg-color);
	transition: all 0.4s ease-out;
	max-height: 0;
	overflow: hidden;
	z-index: 2;
}
nav ul#child li {
	font-size: 98%;
	padding: 6px;
	color: var(--menu-color);
	font-weight: 400;
}
nav li.parent > ul#child.showList {
	max-height: 1000px;
	margin-bottom: 0.4em;
}

@media only screen and (orientation: landscape) {
	#nav-icon1 span {
		height: 3px;
		width: 100%;
	}

	#nav-icon1 span:nth-child(1) {
		top: 0px;
	}

	#nav-icon1 span:nth-child(2) {
		top: 10px;
	}

	#nav-icon1 span:nth-child(3) {
		top: 20px;
	}
	#slider-wrapper {
		height: 40.01vw;
	}
}
#header {
	height: auto;
	background-color: var(--menu-bgcolor);
	color: var(--menu-color);
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}
#logo img {
	width: 94px;
}
#logo > .logo-wrapper {
	padding: 0.4em;
}
#loading {
	color: var(--color1);
	position: relative;
}
#loading:before {
	content: 'Loading . . .';
	color: var(--head-color);
	font-size: 0.8rem;
	bottom: 2%;
	-webkit-animation: text-flicker-in-glow 1s linear infinite alternate;
	animation: text-flicker-in-glow 1s linear infinite alternate;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-2-5 17:11:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@-webkit-keyframes text-flicker-in-glow {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
		text-shadow: none;
	}
	10.1% {
		opacity: 1;
		text-shadow: none;
	}
	10.2% {
		opacity: 0;
		text-shadow: none;
	}
	20% {
		opacity: 0;
		text-shadow: none;
	}
	20.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
	}
	20.6% {
		opacity: 0;
		text-shadow: none;
	}
	30% {
		opacity: 0;
		text-shadow: none;
	}
	30.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	30.5% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	30.6% {
		opacity: 0;
		text-shadow: none;
	}
	45% {
		opacity: 0;
		text-shadow: none;
	}
	45.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	50% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	55% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	55.1% {
		opacity: 0;
		text-shadow: none;
	}
	57% {
		opacity: 0;
		text-shadow: none;
	}
	57.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
	}
	60% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
	}
	60.1% {
		opacity: 0;
		text-shadow: none;
	}
	65% {
		opacity: 0;
		text-shadow: none;
	}
	65.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	75% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	75.1% {
		opacity: 0;
		text-shadow: none;
	}
	77% {
		opacity: 0;
		text-shadow: none;
	}
	77.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	85% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	85.1% {
		opacity: 0;
		text-shadow: none;
	}
	86% {
		opacity: 0;
		text-shadow: none;
	}
	86.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
}
@keyframes text-flicker-in-glow {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
		text-shadow: none;
	}
	10.1% {
		opacity: 1;
		text-shadow: none;
	}
	10.2% {
		opacity: 0;
		text-shadow: none;
	}
	20% {
		opacity: 0;
		text-shadow: none;
	}
	20.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
	}
	20.6% {
		opacity: 0;
		text-shadow: none;
	}
	30% {
		opacity: 0;
		text-shadow: none;
	}
	30.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	30.5% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	30.6% {
		opacity: 0;
		text-shadow: none;
	}
	45% {
		opacity: 0;
		text-shadow: none;
	}
	45.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	50% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	55% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}
	55.1% {
		opacity: 0;
		text-shadow: none;
	}
	57% {
		opacity: 0;
		text-shadow: none;
	}
	57.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
	}
	60% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
	}
	60.1% {
		opacity: 0;
		text-shadow: none;
	}
	65% {
		opacity: 0;
		text-shadow: none;
	}
	65.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	75% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}
	75.1% {
		opacity: 0;
		text-shadow: none;
	}
	77% {
		opacity: 0;
		text-shadow: none;
	}
	77.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	85% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	85.1% {
		opacity: 0;
		text-shadow: none;
	}
	86% {
		opacity: 0;
		text-shadow: none;
	}
	86.1% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
}

#slider-wrapper {
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.control {
	position: absolute;
	top: 50%;
	height: 40px;
	max-height: 45px;
	cursor: pointer;
	transform: translateY(-50%);
	padding: 0.1rem;
	background-color: rgba(0, 0, 0, 0.24);
	z-index: 1;
}
.control:hover {
	background: black;
}
.control > img {
	width: 100%;
	height: 100%;
}
#prev {
	left: 0px;
}

#next {
	right: 0px;
}
.slide-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#slider {
	height: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.slide {
	height: 100%;
	width: auto;
}
.no-image-available {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.no-image-sign {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
h2 {
	font-weight: 400;
}
#footer {
	background-color: var(--foteer-bg-color);
	color: var(--footer-text-color);
	padding: 15px 30px;
}
#footer-content img {
	width: 88px;
	height: 100%;
}
#footer-content >div{
	max-height:88px;
}
.image-logo {
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.34);
}
.gmap_canvas {
	width: 100% !important;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
}
#info-table tr:nth-of-type(odd) td {
	font-weight: bold;
	font-size: 0.6rem;
}
#info-table tr:nth-of-type(even) td {
	font-size: 0.6rem;
}
iframe {
	width: 300px;
	height: auto;
}
#social-icons {
	flex-grow: 1;
	font-size: 1rem;
}
#social-icons .facebook {
	color: black;
}
#social-icons .facebook:hover {
	color: var(--facebook-color);
}
#social-icons > label {
	font-size: 0.9em;
}
#social-icons .instagram {
	color: black;
}
#social-icons .instagram:hover {
	color: var(--insta-color);
}
#social-icons i {
	font-size: 2em;
}
#social-icons .facebook:hover {
	color: blue;
}
#footer .head {
	font-size: 0.9rem;
	color: var(--footer-heading-color);
}
#copyright-bar {
	width: 100%;
	font-size: 0.8rem;
	background-color: var(--copyright-bar-bg-color);
	color: var(--copyright-bar-text-color);
	font-weight: 300;
}
.arrow-sign:before {
	content: '\f107';
	font-family: 'FontAwesome';
	font-size: 1em;
}

.active > span > a {
	color: white !important;
	font-weight: bold;
}
.active {
	background-color: var(--color1);
}
#navigation {
	-ms-overflow-style: none;
}
#home-categories,
#home-brands > .brand-wrapper-holder {
	padding-top: 2%;
}

#home-categories #home-product-wrapper > .category > .category-content {
	display: block;
	height: 200px;
	width: 200px;
	position: relative;
}
#home-categories #home-product-wrapper > .category > .category-content::before {
	content: '';
	background-image: var(--background-image);
	width: 100%;
	background-size: cover;
	position: absolute;
	height: 100%;
}
#main {
	margin: 0px 12%;
}
#home-product-wrapper {
	flex-wrap: wrap;
}
#home-product-wrapper > .category > a {
	width: 200px;
	height: 200px;
	display: block;
	position: relative;
}
#home-categories #home-product-wrapper > .category > .category-content .link:hover {
	text-decoration: underline;
}
#home-categories #home-product-wrapper > .category > .category-content > * {
	font-size: 0.6rem;
	position: absolute;
	display: inline-block;
}

#home-product-wrapper > .category > .category-content::before {
	content: '';
	background-image: var(--background-image);
	width: 100%;
	background-size: cover;
	position: absolute;
	height: 100%;
}
#home-product-wrapper > .category {
	padding: 2%;
}
@media screen and (min-width: 1298px) {
	#home-product-wrapper > .category {
		flex-basis: 23%;
		padding: 2% 0%;
	}
	#home-product-wrapper > .category:nth-of-type(4) > a,
	#home-product-wrapper > .category:nth-of-type(8) > a {
		float: right;
	}
	#home-product-wrapper {
		justify-content: space-between !important;
	}
	#home-brands {
		padding: 0% !important;
	}
}

@media screen and (max-width: 1297px) {
	#home-product-wrapper > .category {
		flex-basis: 31.33%;
		flex-grow: 1;
	}
	#home-product-wrapper > .category:nth-of-type(3n + 0) > a,
	#home-product-wrapper > .category:nth-of-type(7) > a {
		float: right;
	}

	#home-product-wrapper > .category:nth-of-type(5) > a,
	#home-product-wrapper > .category:nth-of-type(2) > a {
		margin: auto;
	}
}

@media screen and (max-width: 900px) {
	#home-product-wrapper > .category {
		flex-basis: 48%;
		padding: 2% 0%;
	}
	#home-product-wrapper > .category:nth-child(even) > a {
		float: right;
	}

	#home-product-wrapper > .category:nth-child(odd) > a {
		float: left;
	}
	#home-brands {
		padding: 0% !important;
	}
	#home-product-wrapper {
		justify-content: space-between !important;
	}
}
/*@media screen  and (max-width: 1053px) {
	#home-product-wrapper > .category {
		flex-basis: 48%;
		padding: 2% 0%;
	}
	#home-product-wrapper > .category:nth-child(even) > a {
		float: right;
	}

	#home-product-wrapper > .category:nth-child(odd) > a {
		float: left;
	}
	#home-brands {
		padding: 0% !important;
	}
	#home-product-wrapper {
		justify-content: space-between !important;
	}
} */
@media screen and (max-width: 560px) {
	#main {
		margin: 0% 3%;
	}
	#home-product-wrapper {
		justify-content: center !important;
	}
}

@media screen and (max-width: 450px) {
	#home-product-wrapper {
		flex-direction: column !important;
	}
	#home-product-wrapper .category {
		flex-basis: 100%;
		padding: 30px;
	}
}
#home-categories #home-product-wrapper > .category > .category-content > .text {
	width: 100%;
	bottom: 0;
	color: black;
	padding: 0.2em;
}
#home-categories #home-product-wrapper > .category > .category-content > .text > p {
	margin: 0;
	font-weight: normal;
}
#home-categories #home-product-wrapper > .category > .category-content > .text > .name {
	font-weight: bold;
	word-break: break-word;
	font-size: 1.4em;
}
#home-categories #home-product-wrapper > .category > .category-content > .image > img {
	max-width: 100%;
	max-height: 100%;
}

#home-categories #home-product-wrapper > .category:hover > .category-content::before {
	opacity: 0.7;
}
#home-categories #home-product-wrapper > .category:hover label::after {
	color: white;
}
#home-brands .head,
#home-categories .head {
	margin: 0;
}
#home-brands {
	padding: 0 2%;
}
#home-brands ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#home-brands ul li {
	width: 150px;
	height: 150px;
	display: inline-block;
	position: relative;
}
#home-brands .brand-wrapper img {
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 100%;
}
.border-line {
	position: relative;
	text-transform: uppercase;
}
.border-line::before,
.border-line::after {
	border: 1px solid black;
	top: 50%;
	transform: translateY(-50%);
	width: 56px;
	content: '';
	position: absolute;
}
.border-line::before {
	left: -60px;
}
.border-line::after {
	right: -60px;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.head {
	font-family: 'Montserrat', sans-serif !important;
}
:root {
	--head-color: #6c7173;
	--text-color: #b4adae;
	--color1: #70bcbc;
	--color2: #67aa8d;
}
#about-us {
	box-sizing: border-box;
	margin: 10px;
	font-size: 0.7rem;
}
#about-us .head {
	color: var(--head-color);
}
@media screen and (min-width: 992px) {
	#about-us #slider-wrapper {
		height: 400px;
	}
}
.bottom-line {
	position: relative;
}
.bottom-line:after {
	position: absolute;
	bottom: 0;
	left: 0%;
	margin-top: 3px;
	content: '';
	border: 2px solid var(--color2);
	width: 10%;
	animation: bottom-line 3s ease-in infinite alternate;
}
@keyframes bottom-line {
	20% {
		width: 40%;
	}
	100% {
		width: 100%;
	}
}
#about-us p {
	text-align: justify;
	margin-top: 0;
	padding-top: 2px;

	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 0.6rem;
}

#slider-wrapper {
	width: 100%;
	height: 40.01vw;
	position: relative;
	overflow-x: hidden;
}
#slider {
	display: flex;
	height: 100%;
	width: 500%;
	position: absolute;
}
#slider > img {
	float: left;
	display: block;
	height: 100%;
}
#slider:hover {
	animation-play-state: paused;
}

#infographics {
	justify-content: space-between;
}
#infographics .graphic {
	margin: 4px;
	min-width: 180px;
}
#area {
	min-height: calc(100vh - 100px);
}

.lazy-wrapper .lazy {
	background-color: white;
	opacity: 1;
	animation: flicker 0.5s ease-in-out infinite alternate;
}
@keyframes flicker {
	100% {
		opacity: 0.5;
		background-color: var(--color1);
	}
}
#infographics p {
	font-size: 0.7rem;
	margin-bottom: 0rem;
}
.graphic .front {
	color: white;
}
.graphic .back {
	color: var(--color1);
}
.graphic > .content > .head {
	color: var(--color1);
}

@-webkit-keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

#maps iframe {
	border-radius: 1% 88% 0% 81% / 0% 51% 0% 44%;
	width: 100%;
	max-width: 320px;
	height: 320px;
	box-shadow: 1px 1px 4px 3px rgb(0 0 0 / 36%);
}
@media screen and (max-width: 360px) {
	#maps iframe {
		border-radius: unset;
	}
}
@media (min-width: 992px) {
	iframe {
		box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.24);
		padding: 0;
	}
	#navigation {
		height: auto;
		position: static;
		display: flex !important;
		width: 100% !important;
		opacity: 1;
		transition: none;
		overflow-y: visible;
		box-shadow: none;
		z-index: 2;
		padding: 0;
	}
	nav ul#child li {
		font-size: 100%;
	}
	nav ul#child li a {
		word-break: break-all;
	}
	nav ul#child li:hover {
		background-color: var(--color1);
	}
	nav ul#child li:hover > span > a {
		transform: scale(1);
		transition: all 0.1s ease-in;
		font-weight: bold;
		color: white;
	}

	nav > ul#menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		overflow: visible !important;
	}
	nav ul#menu li {
		width: auto;
	}
	nav li.parent {
		position: relative;
	}
	nav li.parent > ul#child {
		position: absolute !important;
		transition: none;
		display: none !important;
		min-width: 180px;
		max-width: 210px;
		overflow: visible;
	}
	nav li.parent > ul#child.showList {
		border: none;
		display: block;
		margin-bottom: 0.4em;
		border-top: 2px solid var(--color2);
		z-index: 2;
		max-height: 90vh;
	}

	nav li.parent[data-level='0']:hover > ul#child {
		display: block !important;
		max-height: 1000px;
	}
	nav li.parent:not([data-level='0']):hover > ul#child {
		display: block !important;
		left: 100%;
		margin-left: -10px;
		max-height: 1000px;
		top: 0;
	}
	.arrow-sign:before {
		content: '\f105';
	}
	nav a {
		text-decoration: none;
		position: relative;
	}
	nav li.parent > span {
		position: relative;
	}
	nav ul#menu li[data-level='0'] {
		padding: 0px 1.4rem;
	}
	nav li[data-level='0'] > span::after {
		content: '';
		width: 0%;
		bottom: 0;
		position: absolute;
		left: 50%;
		transition: width 1.3s ease-in-out;
		border: 1px solid var(--color2);
		visibility: hidden;
	}

	nav li > span:hover::after {
		content: '';
		visibility: visible;
		width: 100%;
		bottom: 0;
		position: absolute;
		left: 0%;
	}
	#top-nav {
		align-items: flex-end !important;
	}
	#slider-wrapper {
		height: 40.01vw;
	}
	.edge-over {
		overflow-y: scroll !important;
		max-height: 94vh !important;
	}
}

#contact-us {
	box-sizing: border-box;
	margin: 10px;
	font-size: 0.7rem;
}

#contact-us .head {
	color: var(--head-color);
}
#contact-us > #content > .info {
	align-items: flex-start;
}
#contact-us .info {
	flex: 1 1 auto;
	margin: 4px;
}
#contact-us .info p {
	margin-bottom: 0rem;
}
.firm-name {
	color: var(--color1);
	font-family: 'Russo One', sans-serif !important;
}
#contact-us .sub-head {
	color: var(--sub-head) !important;
}

.bottom-line {
	position: relative;
}
.bottom-line:after {
	position: absolute;
	bottom: 0;
	left: 0%;
	margin-top: 3px;
	content: '';
	border: 2px solid var(--color2);
	width: 30%;
	animation: bottom-line 3s ease-in infinite alternate;
}
@keyframes bottom-line {
	100% {
		width: 100%;
	}
}

@media only screen and (orientation: landscape) {
	#nav-icon1 span {
		height: 3px;
		width: 100%;
	}

	#nav-icon1 span:nth-child(1) {
		top: 0px;
	}

	#nav-icon1 span:nth-child(2) {
		top: 10px;
	}

	#nav-icon1 span:nth-child(3) {
		top: 20px;
	}
}

#Item-Wrapper {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 80vh;
}
.itemHolder {
	width: 170px;
	height: 200px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.itemHolder > .title {
	text-align: center;
	font-size: 0.7rem;
}
.itemHolder > .imageHolder {
	height: 80%;
	width: 80%;
	display: block;
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.itemHolder > .imageHolder > img {
	height: 100%;
	transition: all 1s ease-in-out;
	display: block;
	width: 100%;
}
.itemHolder > .imageHolder > .link {
	opacity: 0;
	position: absolute;
	box-shadow: 1px 1px 2px 1px black;
	padding: 1px 9px;
	text-decoration: none !important;
	border-radius: 30px;
	background: #ffffffdb;
	color: black;
	transition-property: transform, background-color;
	transition-duration: 0.5s;
	outline: none;
	transform: translateY(200px);
	display: inline-block;
}
.itemHolder > .imageHolder:hover > .link {
	opacity: 1;
	transform: translateY(130px);
	font-size: 0.6rem;
}
.itemHolder > .imageHolder > .link:hover {
	background-color: #97cecee3;
	color: white;
}
.itemHolder > .imageHolder:hover > img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	filter: opacity(50%);
}
@media screen and (max-width: 360px) {
	#Item-wrapper {
		display: flex;
	}
	#Item-wrapper > .itemHolder {
		flex: 1 1 50%;
	}
}

@media (orientation: portrait) {
	.itemHolder {
		width: 50%;
	}
}
@media (orientation: landscape) {
	.itemHolder {
		width: 180px;
		margin: 6px;
	}
}
.jump:after {
	content: '\21F2';
	font-size: 0.8em;
	opacity: 0.7;
	transition: opacity 0.8s ease-in-out;
	display: inline-block;
}
.jump::after:hover {
	opacity: 1;
}
.brand-marquee > .m-imageHolder > img {
	height: 100%;
	min-width: 100px;
	max-width: 150px;
}
body.lb-disable-scrolling {
	overflow: hidden;
}

.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
}

.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
	outline: none;
}

.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	max-height: none;
	border-radius: 3px;

	/* Image border */
	border: 4px solid white;
}

.lightbox a img {
	border: none;
}

.lb-outerContainer {
	position: relative;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px;

	/* Background color behind image.
     This is visible during transitions. */
	background-color: white;
}

.lb-outerContainer:after {
	content: '';
	display: table;
	clear: both;
}

.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(/images/site/loading.gif) no-repeat;
}

.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.lb-container > .nav {
	left: 0;
}

.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev,
.lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
}

.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(/images/site/prev.png) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(/images/site/next.png) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
	content: '';
	display: table;
	clear: both;
}

.lb-data {
	padding: 0 4px;
	color: #ccc;
}

.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
}

.lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
}

.lb-data .lb-caption a {
	color: #4ae;
}

.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
}

.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url('/images/site/close.png') top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

#first-image-holder {
	height: 300px;
	position: relative;
	padding: 10px;
}
#overlay {
	position: absolute;
	top: -36px;
	right: -35px;
	transform: rotate(-136deg);
}
#overlay > i:nth-child(1) {
	color: #6d6663ba;
}
span.text {
	position: absolute;
}
#overlay .fa-inverse {
	font-size: 36%;
	transform: rotate(139deg);
}
#first-image-holder > img {
	max-height: 300px;
}
#lightbox-gallery a {
	width: 100px;
	display: block;
}
#lightbox-gallery img:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	opacity: 0.8;
}
#lightbox-gallery {
	overflow-x: scroll;
}
#lightbox-gallery img {
	min-width: 100px;
	min-height: 60px;
}

::-webkit-scrollbar {
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
#lightbox-wrapper {
	overflow: hidden;
	width: 100%;
}

@media screen and (min-width: 411px) {
	.lb-next,
	.lb-prev {
		opacity: 1 !important;
	}
}

.price {
	overflow: hidden;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 110px;
}
.price-text {
	position: relative;
	top: 80px;
	transition: all 0s ease-in-out;
}
.price.show .price-text {
	top: 0px;

	transition: all 1s ease-in-out;
}
.price.show .price-text::before {
	content: '\f156';
	font-family: 'FontAwesome';
}

#first-image-holder {
	height: 300px;
	position: relative;
	padding: 10px;
}
#product-info-wrapper {
}
#product-info-wrapper .product-info,
#product-info-wrapper .product-info select {
	font-size: 0.7rem !important;
}
#product-info-wrapper .product-info > label {
	width: 100px;
}
#lightbox-gallery a {
	width: 100px;
	display: block;
}
#lightbox-gallery img:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	opacity: 0.8;
}
#lightbox-gallery {
	overflow-x: scroll;
}
#lightbox-gallery img {
	min-width: 100px;
	min-height: 60px;
}

::-webkit-scrollbar {
	height: 5px;
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
#lightbox-wrapper {
	overflow: hidden;
	width: 100%;
}
@media screen and (min-width: 411px) {
	.lb-next,
	.lb-prev {
		opacity: 1 !important;
	}
}
.price {
	overflow: hidden;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 110px;
	font-size: 1.3rem;
}
.price-text {
	position: relative;
	top: 80px;
	transition: all 0s ease-in-out;
}
.price.show .price-text {
	top: 0px;
	transition: all 1s ease-in-out;
}
.price.show .price-text::before {
	content: '\f156';
	font-family: 'FontAwesome';
}

.breadcrumb-item {
	font-size: 0.7rem;
}
.breadcrumb li a {
	color: black;
	z-index: 3;
}

.redirect {
	background-color: var(--color2);
	color: white;
}

.text-color4 {
	color: var(--color4);
}
@media screen and (min-width: 976px) {
	.breadcrumb {
		white-space: nowrap;
	}
	.breadcrumb-item {
		position: relative;
		padding: 0px 10px;
	}
	.breadcrumb .breadcrumb-item::before,
	.breadcrumb .breadcrumb-item::after {
		content: '';
		border-right: 2px solid var(--color2);
		display: block;
		height: 50%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
		transform: skewX(45deg);
	}
	.breadcrumb .breadcrumb-item:after {
		bottom: 0;
		top: auto;
		border-right: 2px solid var(--color1);
		transform: skewX(-45deg);
	}

	.breadcrumb .breadcrumb-item:last-of-type::after {
		display: none !important;
	}

	.breadcrumb .breadcrumb-item:last-of-type::before {
		display: none !important;
	}
}


a.redirect:focus,a.redirect:hover {
	color: black ;
}
.address-cell-content>span
{
display:block;
}
#info-table .address-cell-content>span:not(:first-child)
{
	display: inline-block;
}
html {
	font-size: 19px;
}
@media screen and (min-width: 576px) {
	html {
	}
}
@media screen and (max-width: 400px) {
	html {
		font-size: 16px;
	}
}
@media screen and (min-width: 998px) {
	html {
		font-size: 16px;
	}
}

@media screen and (min-width: 1000px) {
	html {
		font-size: 20px;
	}
}

@media screen and (min-width: 1120px) {
	html {
		font-size: 21px;
	}
}

@media screen and (min-width: 1120px) {
	html {
		font-size: 22px;
	}
}
