
 <section id="contact-us" class="mr-1 ml-1 m-md-3 row">
        <h2 class="col-12 head"><span class="bottom-line">Contact Us</span></h2>
        <div class="col-12 col-md-6" id="content">
            <h6 class="firm-name text-uppercase">@Constants.PortalHead</h6>
            <div class="d-flex flex-wrap flex-column info" >
                <div class="info d-flex flex-column">
                    <p class="sub-head"><i class="fa fa-map-marker fa-1x pr-2"></i>ADDRESS</p>
                    <p class="address-cell-content">@foreach (var item in Constants.Address.Split(":"))
                    {
                        <span>@item</span>     
                    }
                    </p>
                </div>
                <div class="info d-flex flex-column mt-2">
                    <p class="sub-head"><i class="fa fa-phone fa-1x pr-2"></i>PHONE NO.</p>
                    <p><a href="tel:+91 98262-15600">+91 98262-15600</a></p>
                    <p><a href="tel:+91 98262-86500">+91 98262-86500</a></p>
                </div>
                <div class="info d-flex flex-column mt-2">
                    <p class="sub-head"><i class="fa fa-envelope fa-1x pr-2"></i>EMAIL</p>
                    <p><a href="mailto:gokulraipur@gmail.com">gokulraipur@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column align-items-md-end" id="maps">
            <div class="d-flex flex-column">
            <label class="sub-head text-uppercase">Find Us Here!</label>
            <iframe id="googlemaps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.430988657263!2d81.62904621493641!3d21.254400885876574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dd91f6b90075%3A0xec856e0cbb61e071!2sGokul%20Enterprises!5e0!3m2!1sen!2sin!4v1611848319025!5m2!1sen!2sin"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
            </div>
        </div>
    </section>