<xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SanitaryCartControl.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <connectionStrings configProtectionProvider="CustomProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>IEuIXhCi9TDApMsbimn/fIANSi/RI68RHqKI11yLpH9fnG+sDye8r33HPCvwkp2N2+5xuuj34RE7yb5UZWV2i3wm1eM/p3/4+F5O5ERWU0O5H5TTrstvNaXaaXG5/D1Sot0PTutG2lxLkHG6cYBhXn5sA5eS++4RhoBVJ244VAc=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>jYbQ+0BRQLhUgyy8HQkOEw1AJLpGaoaELSzR6F+MRwLn+Toc0YuuT0gWWolF8wnOdZx8sPPUBgjJ8ABCP93rZOnEcA9Q++lYie0kw8GLKqGhw1nj56Bbe+nmIQaWM32uTHnylWJxc8nOpwqeeXX9ePFEb2mxB9+he94SWKmqhkizw047RVxSy4/hMFwc7WHhKHrjoNKYkvI+xYpjEVeQy4W5HyPpfBs9M2/i3fM3UiLbtmvSG2qvhYv3O+o77nOMXhfg1pwisuuR4yv3Yc9kf0r84N7Dzb1a4a2oW9GoTcgvTv8tDCPip0mncnpktBCG+OsKfpjCn/3yQ7fFgNSPQitw4w1jqlM4jIdpqcBePLdfWk6cYh4GlVGk/wTJu7MuwQ8iNNXlUqdvsrdLn42xVLmF+vIxE5riU5+BbEAswui5E42Xu1OBQv4txV826qbcJzw9GOyyWWVEE9oUXrd1P5K0Y7Nndqae44DuH0oScHSSG/IZ5biTPaEQRHuyi/3UnqS4k6osyGaXrdVnNea22Weh9Ik5msZmkUKOE3d2evGhAUYeGnlcRA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

   <configProtectedData>
  <providers>
  <add keyContainerName="dotnetRSAkey_memberID"
           useMachineContainer="true"
           description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
           name="CustomProvider"       type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </providers>
</configProtectedData>
</configuration>
<!--ProjectGuid: 56AA8B2F-2848-43FF-B89B-0EE53CE7BF1F-->