@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
   Layout="_Initial.cshtml";
}


<h1 class="text-danger text-center"><i class="fas fa-store-slash"></i></h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p class="text-danger">@Model.Message</p>