@model MessageViewModel

@if(Model.IsSuccess)
{
<div class="text-center">
    <label class="scale-up-center"><span class="fa-stack fa-4x">
  <i class="fa fa-circle fa-stack-2x text-success"></i>
  <i class="fa fa-check fa-stack-1x fa-inverse" style="color:white;"></i>
</span>
    </label>
<p class="font-weight-bold">Operation Successfull</p>
</div>
}
else
{
    <div class="text-center text-danger">
        <i class="fa fa-times-circle-o fa-4x scale-up-center" style="font-size: 120px;" aria-hidden="true"></i>
    <p class="font-weight-bold">Operation Failed</p>
    <p>
        @if(Model.Message!=null)
        {
<span>@Model.Message</span>
        }
        else
        {
     <span>Somethig Went Wrong</span>
        }
   </p>
    </div>
}


<center>
    <form action="@Model.Link" method="GET">
@if(Model.Params!=null && Model.Params.Count()>0)
    {
          @foreach (var item in Model.Params)
          {
                  string name = item.Key;
                  string value = item.Value.ToString();
               <input name="@name" value="@value" hidden/>
          }
    }
       <button class="btn" type="submit">Redirect</button>
       <style>
           button{
               background: rgb(42,32,212);
background: linear-gradient(90deg, rgba(42,32,212,1) 0%, rgba(59,59,138,1) 82%);
color: white !important;
           }
       </style>
    </form>
</center>