@{
    Layout = "_Initial";
}

<div class="text-center p-3 fullPage">
    <h2>Thank You,You are SuccessFully LogOut</h2>
    <p>Redirecting You To LogIn Page</p>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>
<style>
    .fullPage {
        width: 100%;
        background-color: #7f53ac;
        background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
        color: white;
        background-size: cover;
        font-family: 'Andika New Basic', sans-serif;
        font-family: 'Quicksand', sans-serif;
        position: fixed;
        top: 38%;
        width: 100%;
    }
</style>
<script>
    const fontLink = $('<link rel="preconnect" href="https://fonts.gstatic.com">');
    $('head').append('<link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@1&family=Quicksand&display=swap" rel="stylesheet">')
    setTimeout(function () {
        window.location = @Json.Serialize(Url.Action("LogIn"));
    }, 5000);
</script>