<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SanitaryCartControl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .nav-link[data-toggle].collapsed:before {
            content: " ▾";
        }

        .nav-link[data-toggle]:not(.collapsed):before {
            content: " ▴";
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Gokul Enterprises Pvt. Ltd.</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
                <ul class="nav flex-column flex-nowrap overflow-hidden">
                    <li class="nav-item  bg-light">
                        <a class="nav-link text-truncate" asp-controller="" asp-action="">
                            <i class="fa fa-home"></i>
                            <span class="d-none d-sm-inline">Home</span></a>
                    </li>
                    <li class="nav-item bg-light">
                        <a class="nav-link collapsed text-truncate" href="#Brands" data-toggle="collapse"
                            data-target="#Brands"><i class="fa fa-building"></i> <span
                                class="d-none d-sm-inline">Brands</span></a>
                        <div class="collapse" id="Brands" aria-expanded="false">
                            <ul class="flex-column pl-4 nav">
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-action="Add" asp-controller="Brand">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i><span>Add</span>
                                    </a>

                                </li>
                                <li class="nav-item"> <a class="nav-link collapsed py-1" asp-action="GetAll"
                                        asp-controller="Brand">
                                      <i class="fa fa-list-ol" aria-hidden="true"></i>  <span>View All</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item  bg-light">
                        <a class="nav-link collapsed text-truncate" href="#Product" data-toggle="collapse"
                            data-target="#Products"><i class="fa fa-sitemap" aria-hidden="true"></i> <span
                                class="d-none d-sm-inline">Product</span></a>
                        <div class="collapse" id="Products" aria-expanded="false">
                            <ul class="flex-column pl-4 nav">
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-action="Add" asp-controller="Product">
                                      <i class="fa fa-plus-square" aria-hidden="true"></i>  <span>Add</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed py-1" asp-action="Search" asp-controller="Product">
                                       <i class="fa fa-search-plus" aria-hidden="true"></i> <span>Search</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col pt-2">
                <h2 class="font-italic">
                    <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i
                            class="fa fa-bars"></i></a> @ViewData["Head"] </h2>

                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SanitaryCartControl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
