
<div class="error text-center">
    <h1 class="text-danger">A Unexpected Server Error Occurred</h1>
    <h5 style="color:var(--head-color)">Please Try After Some Time</h5>
    <i class="fa fa-frown-o fa-4x" style="color:var(--color2)" aria-hidden="true"></i>
</div>
